<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>Follows</th>
			<th><%= link_to follows_user_path(user) do %><%= user.follower.count %><% end %></th>
		</tr>
		<tr>
			<th>Followers</th>
			<th><%= link_to followers_user_path(user) do %><%= user.followed.count %><% end %></th>
		</tr>

</table>
<!-- チャット機能 -->
		<% if current_user != user %>
		  <%= link_to 'chatを始める', chat_path(user.id)%>
		<% end %>

		<% if current_user.id == user.id %>
				<div class="row">
					<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
				</div>
		<% else %>
					<% if current_user.following?(user) %>
		        <%= link_to 'フォロー外す', unfollow_path(user.id), class: "col-xs-12 btn btn-primary" , method: :POST %>
		      <% else %>
		        <%= link_to 'フォローする', follow_path(user.id),  class: "col-xs-12 btn btn-success", method: :POST %>
		      <% end %>

		<% end %>